section,article,h4,div,a,p,ul,li
{
    margin: 0;
    padding: 0;
}

ul,li{
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
    font-size: 0.5rem;
    background-color: #f9f9f9;
}

a {
    text-decoration: none;
    color: #999;
}

.articals {
    width: 100%;
    padding: 0 0.08rem;
    box-sizing: border-box;
}

.artical-box {
    width: 100%;
    background-color: #fff;
    margin-top: 0.07rem;
}

.artical-box .artical-title{
    padding: 0.1rem;
    margin-top: 0.5rem;
    background-color: #dddddd;
    -webkit-border-radius:25px;
    -moz-border-radius:25px;
    border-radius:25px;
}
.artical-box .artical-title a{
    color: #000;
}

.artical-box ul li{
    font-size: 0.3rem;
    margin: 0.3rem 0;
}

.artical-box ul li a{
    color: #000;
}
.artical-box .border-circle{
    padding: 0.01rem 0.1rem;
    color: #6fac7f;
    margin-right: 0.25rem;
}
.border-circle{
    background-color: #e2eee5;
    border: 2px solid #6fac7f;
    -webkit-border-radius:25px;
    -moz-border-radius:25px;
    border-radius:25px;
}

.artical-title + p{
    margin: 0.5rem 0;
    font-size: 0.3rem;
    color: #000;
    line-height: 0.675rem;
}
