/*轮播图*/

.carousel {
    position: relative;
}
#myCarousel .carousel-inner {
    width: 1920px;
    margin: 0 auto;
    text-align: center;
}
#myCarousel .carousel-inner div{
    width: 100%;
    height: 580px;
    margin: 0 auto;
}
#myCarousel .carousel-inner div img{
    width: 100%;
    height: 100%;
}
/*hotel-reservation  */

.hotel-reservation {
    height: 91px;
    background-color: #38414c;
    position: absolute;
    margin: auto;
    top: 60px;
    left: 0;
    right: 0;
    padding: 8px;
}
.hotel-reservation>div p{
    cursor: pointer;
    color: #777;
}
.hotel-reservation>div p.active{
    color: #ffffff;
}
.hotel-reservation>div:first-child p {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    padding: 0 25px;
    margin: 5px 0;
}
.hotel-reservation>div:first-child p:first-child {
    border-right: 1px solid #eee;
}




/*for 精选、推荐*/

.main-recommend {
    margin-top: 20px;
}
.recommend-left, .recommend-right {
    display: inline-block;
    height: 604px;
    vertical-align: top;
}
.recommend-left {
    position: relative;
    width: 498px;
}
.best-choice-box {
    position: relative;
}
.recommend-left .best-choice-box {
    height: 368px;
}
.recommend-left img[alt="best-choice"] {
    width: 100%;
    height: 100%;
}
.best-choice {
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    position: absolute;
    top: 0;
    left: 23px;
    background-size: 100% 100%;
}
.recommend-left .best-choice {
    width: 60px;
    height: 70px;
    line-height: 60px;
    background: url("../img/多边形-2.png") no-repeat;
}
.recommend-right .best-choice {
    width: 50px;
    height: 58px;
    line-height: 50px;
    background: url("../img/多边形-1.png") no-repeat;
}
.best-choice-info {
    padding: 20px;
    background-color: #38414c;
    font-size: 14px;
    color: #eeeeee;
}
.best-choice-title {
    font-size: 16px;
}
.best-choice-info>div {
    margin-bottom: 10px;
}
.best-choice-info p {
    vertical-align: top;
}
.recommend-price {
    font-size: 20px;
    color: #ffa700;
}
.line {
    width: 100%;
    border-top: 1px solid #e0e0e0;
}
.introduction {
    font-size: 14px;
    margin-top: 20px;
    line-height: 18px;
}

/*recommend-right*/

.recommend-right {
    width: 692px;
}
.recommend-box {
    width: 346px;
    height: 302px;
    display: inline-block;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 16px;
    padding-bottom: 29px;
}
.recommend-box .best-choice-box {
    width: 330px;
    height: 222px;
}
.recommend-box .best-choice-box img {
    width: 100%;
    height: 100%;
}
.recommend-right .recommend-info {
    color: #000;
    margin-top: 12px;
    font-size: 14px;
}
.recommend-info>div span {
    vertical-align: bottom;
}

/*for hot city*/

h4 {
    font-size: 18px;
    font-weight: 700;
    padding-left: 10px;
}
.hot-city {
    margin-bottom: 31px;
}
.hot-city-title {
    height: 40px;
    margin-bottom: 10px;
}
.hot-city-title h4 {
    border-left: 5px solid #00a699;
}
.hot-city-title a {
    color: #111;
}
.cities {
    display: inline-block;
    position: relative;
}
.cities img {
    width: 281px;
    height: 189px;
}
.cities:not(:last-child) {
    margin-right: 22px;
}
.city-info {
    width: 130px;
    height: 130px;
    box-sizing: border-box;
    border-radius: 50%;
    padding: 20px;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    color: #ffffff;
}
.city-info>div p {
    padding-bottom: 3px;
}
.city-info>div:first-child {
    border-bottom: 1px solid #ffffff;
}
.city-info>div:first-child p:first-child {
    font-size: 18px;
    font-weight: 600;
}
.city-info>div:first-child p:last-child {
    font-size: 14px;
}
.city-info>div:last-child {
    font-size: 12px;
    color: #ffffff;
    padding: 5px;
}
.city-info>div:last-child span {
    font-size: 24px;
    color: #ffa700;
}

/*for partner*/

.partner {
    padding: 20px;
    margin-top: 31px;
    margin-bottom: 20px;
    background-color: #38414c;
}
.partner h4 {
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
.partner-box {
    padding: 30px 0;
}
.partner-box img:not(:last-child) {
    margin-right: 20px;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: inline-block;
}
.partner .carousel-indicators {
    bottom: -20px;
}
.partner .carousel-indicators .active {
    background-color: #00a699;
    border: none;
}

.book-wedget form > ul li.oButton {
  right: 0;
}
.book-wedget .hotels input {
  width: 168px !important;
}